@page "/dec2bin"
@rendermode InteractiveServer

@using System.Numerics;


<h3>Dec2Bin</h3>

<div class="dec2bin">
	<input type="number" @bind="number" @bind:after="Calculate"/>
	<div>@data</div>
</div>

@code {

}
